.idea/*
.DS_Store
projectFilesBackup/*
projectFilesBackup1/*
# compiled output
/dist
/tmp
# until we have lint rules improved and code cleaned up
.eslintrc.js
# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
darworms.txt
# turns out netlify already gzips yout stati site
public/bundle.js.gz
public/bundle.js
public/bundle.js.map
